.footer__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0px 45px 0 60px;
    background-color: var(--color-green);
    height: 137px;
}

.footer__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 25px 0;
    text-align: end;
    color: var(--color-white);
}

.footer__logo-img {
    width: 111px;
    height: 93px;
}

.contacts {
    font-size: 14px;
}

.copyright {
    font-size: 12px;
}

@media (width <= 805px) {
    .footer__container {
        padding: 0 30px;
    }
}

@media (width <= 430px) {
    .footer__container {
        padding: 0 19px 0 18px;
    }

    .footer__logo {
        align-self: start;
    }

    .footer__content {
        letter-spacing: 0.01em;
    }

    .wide-text {
        letter-spacing: 0.02em;
    }
    
    .narrow-text {
        letter-spacing: 0;
    }
}